<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Cloud_storage_app</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.Cloud_storage_appServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cloud_storage_app</servlet-name>
		<url-pattern>/cloud_storage_app</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cloud_storage_file</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.Cloud_storage_fileServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Cloud_storage_file</servlet-name>
		<url-pattern>/cloud_storage_file</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.FileUploader</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
