<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.FileUploader</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileLister</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.FileLister</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>FileLister</servlet-name>
		<url-pattern>/fileList</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>CheckFile</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.CheckFile</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>CheckFile</servlet-name>
		<url-pattern>/checkFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveFile</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.RemoveFile</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>RemoveFile</servlet-name>
		<url-pattern>/removeFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindFile</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.FindFile</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>FindFile</servlet-name>
		<url-pattern>/findFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemCacheStats</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.MemCacheStats</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>MemCacheStats</servlet-name>
		<url-pattern>/memCacheStats</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemCacheRemoveAll</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.MemCacheRemoveAll</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>MemCacheRemoveAll</servlet-name>
		<url-pattern>/memCacheRemoveAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveAll</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.RemoveAll</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>RemoveAll</servlet-name>
		<url-pattern>/removeAll</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BlobUploader</servlet-name>
		<servlet-class>com.iit.cloudstorageapp.BlobUploader</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>BlobUploader</servlet-name>
		<url-pattern>/blobUpload</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
